



body{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: smaller;
  }
  #zoom_container{
    display: flex;
    margin: auto;
    gap: 50px;
  }
  
  #zoom_right{
    width: 30%;
    height: 500px;
    border: 4px solid blue;
    text-align: center;
  }
  
  #zoom_right button{
    background-color: black;
    color: white;
    padding: 10px 150px;
  }
  #size{
    padding: 10px 150px;
  }
  #styles{
    padding: 10px 115px;
  }
  #zoom_left{
      width:60%;
      display: grid;
      grid-template-rows: repeat(4,auto);
      grid-template-columns: repeat(2,1fr);
      border: 5px solid green;
  }
  
  #zoom_left div{
    border: 1px solid red;
    /* height: 400px; */
  }
  
  #zoom_left img{
  width: 350px;
  height: 615px;
  border: 1px solid yellow;
  }
  
  #search_reviews{
    padding: 15px 350px;
    
  }
  #red{
  color: red;
  }



  
/* navbar start */
#black-navbar{
    border: 0px solid red;
    width:100%;
    height:40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:#000000;
    color: white;
/*     
    margin: 0px;
    padding: 0px; */

}
#black-navbar>div:nth-child(1){
    display: flex;
    margin:auto ;
    font-family: "Brandon Text", Arial, sans-serif;
    font-size:16px;
    
}

#apply-now{
color: white;
border-bottom: 0px solid white;


}
#bonus{
    font-weight: bold;
    font-size:16px;
}
#flag{
    display: flex;
margin-right: 20px;
font-size:16px;
font-family: "Brandon Text", Arial, sans-serif;
   
   
}
#flag>img{
    border-radius: 50%;
}
#navbar{
    border:0px solid black;
    width:100%;
    margin: auto;
    height:100px;
    display: flex;
   justify-content: space-around;
    align-items: center;
   
}
#logo{
    width:50%;
    height:100%;
}
#search{
    border: 2px solid grey;
    width:23%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#input{
    border:none;
}
#search>div{
    border:0px solid red;
    padding: 10px;

}
#search>div:nth-child(2){
    width:80%;

}


#pro{
    border: 0px solid green;
    width:95%;
    height:150px;
    margin: auto;
}
#next-navbar{
    width:100%;
    height:43px;
    border: 0px solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#next-navbar>div:hover{
text-decoration: underline;
cursor: pointer;
}
#next-navbar p{
    font-size: 16px;
    font-family: "Brandon Text", Arial, sans-serif;
    columns: #333333;
}
#navbar p{
    
    font-size: 16px;
    font-family: "Brandon Text", Arial, sans-serif;
    
   
    cursor: pointer;
    
    color: #393939;
    text-decoration: none;
    
    
}
#next-navbar>div:nth-child(2){
    color: #f93822;
}


/* navbar ended */
