*{
    font-family: "Brandon Text", Arial, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

#new{
    display: flex;
    justify-content: right;
}
#new>p{
    padding-top: 10px;
    margin-right: 10px;
}
#succes_statement{
    font-size: 20px;
    color: red;
}
.button1{
    width: 10%;
    height: 40px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
#container{
    width: 25%;
    margin: auto;
    font-family: "Brandon Text", Arial, sans-serif;
    
}
#container>h2{
    color: #fe3b1f;
    margin-bottom: 10px;
    margin-top: 20px;
}
#container p{
    font-size: 14px;
    font-family: "Brandon Text", Arial, sans-serif;
    margin-top: 20px;
}
#first-part{
    line-height: 12px;
    font-family: "Brandon Text", Arial, sans-serif;
}
#second-part{
    line-height: 30px;
    font-family: "Brandon Text", Arial, sans-serif;
}
#second-part>p{
    line-height: 18px;
}
#first-part>h2{
    color: #fe3b1f;
    margin-top: 50px;
    margin-bottom: 20px;
}
#tick-box{
    background-color: #f4f4f4;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Brandon Text", Arial, sans-serif;
}
#tick-box>p{
    line-height: 18px;
    padding-left: 20px;
    font-family: "Brandon Text", Arial, sans-serif;
}
.input{
    width: 98%;
    height: 35px;
    font-family: "Brandon Text", Arial, sans-serif;
    margin-top: 6px;
    margin-bottom: 6px;
}
.button{
    width: 98%;
    height: 35px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}
.button:hover{
    background-color: #757575;
}
#tap{
    margin-top: 50px;
    font-family: "Brandon Text", Arial, sans-serif;
}
#tap:hover{
    background-color: #757575;
}

/* navbar */
#black-navbar{
    border: 0px solid red;
    width:100%;
    height:40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:#000000;
    color: white;

}
#black-navbar>div:nth-child(1){
    display: flex;
    margin:auto ;
    font-family: "Brandon Text", Arial, sans-serif;
    font-size:16px;
    
}

#apply-now{
color: white;
border-bottom: 0px solid white;


}
#bonus{
    font-weight: bold;
    font-size:16px;
}
#flag{
    display: flex;
margin-right: 20px;
font-size:16px;
font-family: "Brandon Text", Arial, sans-serif;
   
   
}
#flag>img{
    border-radius: 50%;
}
#navbar{
    border:0px solid black;
    width:100%;
    margin: auto;
    height:100px;
    display: flex;
   justify-content: space-around;
    align-items: center;
   
}
#logo{
    width:50%;
    height:100%;
}
#search{
    border: 2px solid grey;
    width:23%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#input{
    border:none;
}
#search>div{
    border:0px solid red;
    padding: 10px;

}
#search>div:nth-child(2){
    width:80%;

}


#pro{
    border: 0px solid green;
    width:95%;
    height:150px;
    margin: auto;
}
#next-navbar{
    width:100%;
    height:43px;
    border: 0px solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#next-navbar>div:hover{
text-decoration: underline;
cursor: pointer;
}
#next-navbar p{
    font-size: 16px;
    font-family: "Brandon Text", Arial, sans-serif;
    columns: #333333;
}
#navbar p{
    
    font-size: 16px;
    font-family: "Brandon Text", Arial, sans-serif;
    
   
    cursor: pointer;
    
    color: #393939;
    text-decoration: none;
    
    
}
#next-navbar>div:nth-child(2){
    color: #f93822;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
 
    line-height: 20px;
    padding: 15px;
    padding-right: 25px;
    font-family: "Brandon Text", Arial, sans-serif; 
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 220px;
    height:400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
  }
  .dropdown-content div {
  
    text-decoration: none;
    display: block;
  }
  .dropdown-content ul {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content ul:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
#account{
    border:0px solid red;
    height: 40px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: #000000;
    font-family: "Brandon Text", Arial, sans-serif;
    padding: 5px; 
    cursor: pointer;

}

.dropdown-content1 {
 
    line-height: 20px;
    padding: 15px;
    padding-right: 25px;
    font-family: "Brandon Text", Arial, sans-serif; 
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 150px;
    height:220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
  }
  .dropdown-content1 div {
  
    text-decoration: none;
    display: block;
  }
  .dropdown-content1 ul {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content1 ul:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content1 {
  display: block;
}


#account1{
    border:0px solid red;
    height: 40px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: #000000;
    font-family: "Brandon Text", Arial, sans-serif;
    padding: 5px; 
    cursor: pointer;

}


/* footer start */
#footer{
    border:0px solid red;
    width:100%;
    height:auto;
    margin-top: 40px;
    background-color: #f9f9f9;
    padding-left: 15px;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    padding-left: 15px;
}
#footer1{
    border:0px solid red;
    width:70%;
    height:80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 430px);
    gap:10px;
    height:390px;
}
#footer1>div{
border: 0px solid blue;
line-height: 35px;
font-family: "Brandon Text", Arial, sans-serif;
font-size: 16px;
color: #393939;
height: 390px;
}

#footer1>div>ul:hover{
    text-decoration: underline;
    cursor: pointer;
    text-decoration-thickness: 1px;
}

#footer1>div>ul:nth-child(1){
    font-weight: 700;

}
#footer2{
    border:0px solid red;
    height:130px;
    width:20%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2, 60px);
}

#design{
    border:0px solid blue;
    display: flex;
    width:98%;
    justify-content: space-between;

}

#footer2>div{
    border: 0px solid green;
    
}

#footer2>div>img{
width: 100%;
margin-top: 10px;
border:0px solid red;
}
#footer2>div:nth-child(2){
    display: flex;
    gap:15px;
    padding-left: 30px;
}
#last{
    border:0px solid black;
    height:12%;
    width:68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1, auto); */
    font-size: 13px;
    font-family: "Brandon Text", Arial, sans-serif; 
    font-weight: 400;
    color: #393939;
    margin-bottom: 10px;
    margin-top: 10px;
   
}
#last>div:hover{
    text-decoration: underline;
    cursor: pointer;
    text-decoration-thickness: 1px;
}

/* footer end */
